/*
. --> Clase
# --> ID
[] --> Atributo


*/



.wrapper {
    height: 100px;
    width: 100%;
    background-image: url(img/image.png), 
    url(img/nicoDaw.png);
    background-repeat: no-repeat;
    background-size: contain;
}