/*
. --> Clase
# --> ID
[] --> Atributo


*/
/**/

.lineagrad{
    margin: 20px;
    height: 200px;
    width: 300px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.radgrad{
    margin: 20px;
    height: 200px;
    width: 300px;
    background: radial-gradient(circle , orange, blue);
}
.radgrad2{
    margin: 20px;
    height: 200px;
    width: 300px;
    background: radial-gradient(ellipse , orange, blue);
}
.radgrad3{
    margin: 20px;
    height: 200px;
    width: 300px;
    background: repeating-radial-gradient(circle ,orange, blue 25%)
}